.browseList{
    width: 65%;
    max-width: 845px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.browseList a{
    text-decoration: none;
    color: black;
}

#heading{
    width: 100%;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

@media only screen and (max-width: 825px) {
    .browseList{
        width: 100%;
    }
}