.textdiv{
    margin: 25px 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    font-size: 16px;
}

.textdiv img{
    max-width: 100%;
    overflow: hidden;
}

#title{
    padding: 30px 0px;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: x-large;
}

@media only screen and (max-width: 750px) {
    .textdiv {
      width: 95%;
    }
}

.textdiv img{
    display: block;
    margin: 25px 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}